DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/away?schema=public"

JWT_ACCESS_SECRET=change-me-access-secret
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=change-me-refresh-secret
JWT_REFRESH_EXPIRES_IN=30d

PORT=3000
